/** CSS global **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body, html { margin: 0;  font-family: Raleway; scroll-behavior: smooth;}
header, main { padding: 1.5em;}
.blue { background-color: #0065fc;}
.light-blue { background-color: #deebff;}
.grey { background-color: #f2f2f2;}
#accomodations a, #trending-list a, #activities-grid a { color: #000000; text-decoration: none;}


/** HEADER & NAVIGATION **/
#header-mobile { display: none;}
header {  display: flex; justify-content: space-between;}
header a { color: #000000; text-decoration: none;}
header ul { display: flex; list-style: none; padding: 0; margin: 0; }
header li a { padding: 20px 15px;}
nav { display: flex;  align-items: center; width: 30%; justify-content: flex-end;}
nav li { margin: 0 20px;}

.active { border-top: 2px solid #0065fc; color: #0065fc;}
.sign-in { color: #0065fc; margin-left: 10px; font-weight: 700;}


/** SEARCH & FILTERS **/
#search-filters, #search-bar, #filters { margin: 30px 0px}

#search-bar { width: 350px;display: flex;}
.leading-icon { padding: 10px 12px; box-sizing: border-box; border-radius: 10px 0px 0px 10px }
input[type=search] { width: 60%; border: #f2f2f2 1px solid; box-sizing: border-box ; padding: 0px 15px; font-family: Raleway; font-weight: 700;}
input[type=search]:focus { border: #f2f2f2 1px solid;  }
input[type=submit] { color: white; border: #0065fc; border-radius: 0px 10px 10px 0px; padding: 0px 15px; cursor: pointer;}
#submit-mobile { display: none;}

#filters  { display: flex; align-items: center; font-weight: 700;}
#filters span { margin-right: 20px}
#filter-list { display: flex;}
#filter-list div { 
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 0px; 
    box-sizing: border-box; 
    border-radius: 100px; 
    border : 2px #f2f2f2 solid;
    border-left: none;
    margin: 0px 10px;
}

#filter-list div:hover { background-color: #f2f2f2; cursor: pointer;}

#filters i { 
    padding: 10px 10px; 
    border-radius: 50%; 
    color: #0065fc;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

#results-info { display: flex; align-items: center; color:grey }
#results-info i { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px ;
    border-radius: 50%; 
    color: #0065fc;
    border: 2px #f2f2f2 solid;
    margin-right: 10px;
}


/*******************************************************************/


/** HERBEGEMENTS **/
#accomodations-area { display: flex; width: 100%; justify-content: space-between; margin :2em 0em;}

#accomodations, #trending-container { background-color: #f2f2f2; min-height: 300px; padding: 1em 1.5em; box-sizing: border-box; border-radius: 20px;}
.accomodation-card { 
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: lightgray 0px 0px 10px;
}

#accomodations { width: 70%; display: flex; flex-direction: column; justify-content: center ; align-items: flex-start;}
#trending-container { 
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
 }
#trending-content { display: flex; align-items: center; justify-content: space-between;}

#accomodations-list { 
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(3,31%);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 1.5vw;
    margin-bottom: 30px;
    justify-content: space-evenly;
}
#accomodations-list .accomodation-card, #accomodations-list .accomodation-card a { 
    display: flex; 
    flex-direction: column; 
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
#accomodations-list .accomodation-card a {     padding: 5px; box-sizing: border-box;}
#accomodations-list .accomodation-card img { height: 150px; object-fit: cover; border-radius: 20px 20px 0px 0px;}

#accomodations-list .card-informations { height: 100%;font-size: medium; line-height: 5px; padding: 0px 5px; display: flex; flex-direction: column; justify-content: center;}
#accomodations-list .card-informations h3 { margin: 5px 0px 0px 0px;line-height: 15px;}

.blue-star { color: #0065fc}
.grey-star { color:#f2f2f2}




/** COLONNE POPULAIRES **/
#trending-list { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
}
#trending-list .accomodation-card { 
    width: 100%; 
    height: 150px;
    display: flex;
    flex-direction: row;
}

#trending-list .accomodation-card img { width: 40%; object-fit: cover; border-radius: 20px 0px 0px 20px}
#trending-list .card-informations { 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

#trending-list .card-title { display: flex; flex-direction: column; justify-content: flex-start;}
#trending-list h3, #trending-list p { margin: 0;}




/** ACTIVITES **/
#activities-area { margin: 80px 0px 40px 0px}
#activities-grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(17, 0.5px);
    grid-gap: 2em;
    justify-content: center;
}

.activity-card { 
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: lightgray 0px 0px 10px;
    position: relative;
}
.activity-card img { object-fit: cover; border-radius: 20px ; height: 98%; width: 100%;}
.activity-card h3 { 
    display: flex;
    align-items: center;
    margin: 0px; 
    padding: 5px 20px;
    box-sizing: border-box;
    height: 50px; 
    width: 100%;
    position: absolute; 
    bottom: 0; 
    background-color: #ffffff; 
    border-radius: 0px 0px 20px 20px;
}
.card-1 { grid-column: 1/2; grid-row: 1/18 }
.card-1 img {width: 100%;}
.card-2 { grid-column: 2/3; grid-row: 1/11;}
.card-3 { grid-column: 2/3; grid-row: 11/18 ;}
.card-4 { grid-column: 3/4; grid-row: 1/18;}
.card-5 { grid-column: 4/5; grid-row : 1/9;}
.card-6 { grid-column: 4/5; grid-row: 9/18}


/** FOOTER **/
footer { 
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 3em 1.5em;
    line-height: 1.5em;
}
footer div { margin-right: 20%;}
footer ul { list-style: none; padding: 0; margin: 0}
footer a { color: #000000; text-decoration: none;}




/** MOBILE VERSION **/
@media screen and (max-width: 600px) {
    body, html, main, section { padding: 0;}

    /** HEADER & NAVIGATION **/
    header  { display: flex; flex-wrap: wrap;}
    .active { border-bottom: 3px solid #0065fc!important; color: #0065fc; border-top: 0px}


    /** RECHERCHE & FILTRES  **/
    #search-area { padding: 0em 1em; }
    #submit-desktop { display: none;}
    #submit-mobile { display: inline;}
    button[type=submit] { color: white; border: #0065fc; border-radius: 10px; padding: 0px 15px;}
    #search-bar { width: auto; justify-content: center;}

    #filters  { flex-direction: column; align-items: flex-start;}

    #filter-list { flex-direction: row; flex-wrap: wrap;}
    #filter-list div { margin: 10px 10px 0px 0px;}

    #results-info { align-items: flex-start;}
    #results-info i { font-size: 10px; height: 20px; width: 25px;}


    /** HERBEGEMENTS **/
    #accomodations-area { flex-direction: column-reverse;}
    #accomodations, #trending-container { width: 100%; border-radius: 0; padding: 0 1em;}    
    #accomodations { background-color: #ffffff; }

    #accomodations-list { 
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 200px);
    }

    #accomodations-list .accomodation-card a, #accomodations-list .accomodation-card { width: 100%; height: 200px; margin-bottom: 1em;}
    #accomodations-list .accomodation-card img { height: 100px;}



    /** ACTIVITES **/
    #activities-area { padding: 0em 1em; }
    #activities-grid { 
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 200px);
    grid-gap: 0;
    row-gap: 1em;
    }

    .card-1, .card-2, .card-3, .card-4, .card-5, .card-6 { grid-column: 1/1}
    .card-1 { grid-row : 1/2}
    .card-2 { grid-row: 2/3;}
    .card-3 { grid-row: 3/4;}
    .card-4 { grid-row: 4/5;}
    .card-5 { grid-row: 5/6;}
    .card-6 { grid-row: 6/6;}


    /** FOOTER **/
    footer { flex-direction: column; align-items: flex-start;}
    footer div { margin: 0px 0px 20px 0px;}
}



/** TABLET VERSION **/
@media screen and (min-width: 600px) and (max-width: 1024px) {
    nav { width: 50%;}

    /** SEARCH & FILTERS  **/
    #filters { align-items: flex-start;}
    #filter-list { flex-wrap: wrap;}
    #filter-list div { margin-bottom: 10px;}


    /** HERBEGEMENTS **/
    #accomodations-area { flex-direction: column;}
    #accomodations, #trending-container { width: 100%; margin-bottom: 50px;}

    #accomodations-list { 
        grid-template-columns: 48% 48%;
        grid-template-rows: repeat(3, 200px);
        justify-content: space-evenly;
        grid-gap: 1vw;
    }
    #accomodations-list .accomodation-card img { height: 100px;}


    /** COLONNES POPULAIRES **/
    #trending-list .accomodation-card img  { width: 25%;}


    /** ACTIVITES **/
    #activities-grid { 
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(16, 35px);
    grid-gap: 1em;
    }

    .card-1 { grid-column: 1/2; grid-row: 1/9;}
    .card-2 {grid-column: 2/3; grid-row: 1/6; }
    .card-3 { grid-column: 2/3;grid-row: 6/9;}
    .card-4 { grid-column: -2; grid-row: 9/17;}
    .card-5 { grid-column: 1/2; grid-row: 9/13;}
    .card-6 { grid-column: 1/2; grid-row: 13/17;}

}